*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main-header{
    background-color: #2ddf5c;
    width: 100%;
    padding: 15px 10px;
}
.main-header > div{
    display: inline-block;
    vertical-align: middle;
}
.brand-logo{
    text-decoration: none;
    color: #0e4f1f;
    font-size: 32px;
    font-weight: bold;
}
.main-nav{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 116px);
}
.main-nav-links{
    padding: 0;
    list-style: none;
    text-align: right;
}
.main-nav-link{
        display: inline-block;
        margin: 0 16px;
}
.main-nav-link > a{
    text-decoration: none;
    color: #0e4f1f;
}
.main-nav-link-cta > a{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 16px;
}
.main-nav-link > a:hover{
    color: #ffffff;
    border-bottom: 2px #ffffff solid;
}
.main-nav-link-cta > a:hover{
    color: red;
    background-color: #ffffff;
    border: none;
}
.overview{
    background-color: rgba(255, 41, 41, 0.7);
    height: 480px;
    color: #ffffff;
    padding: 16px;
}
.overview > h1{
    font-weight:  bolder;
}
.plans-title{
    color: #0e4f1f;
    text-align: center;
    font-size: 32px;
}
.plans{
    width: 100%;
    text-align: center;
}
.plan{
    display: inline-block;
    width: 30%;
    background-color: #d5ffdc;
    padding: 16px;
    margin: 8px;
}
.plan-title{
    color: #0e4f1f;
}
.plan-highlighted{
    background-color: #19b84c;
    color: #ffffff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan-highlighted > .plan-title{
                 color: #ffffff;
}
.plan-features{
    list-style: none;
    padding: 0;
}
.plan-features li{
    margin: 8px 0;
}
.recommended{
    text-transform: uppercase;
    color: #19b84c;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5); 
}
button{
    cursor: pointer;
    color: #ffffff;
    background-color: #0e4f1f;
    border: 8px;
    padding: 8px;
    font-weight: bold;
    border: 2px solid;
}
button:hover{
       color: #0e4f1f;
       background-color: #ffffff;
}
.key-features{
    background-color: rgba(253, 9, 9, 0.7);
    height: 250px;
}
.key-features-title{
    text-align: center;
    color: #ffffff;
}
.key-features-list{
    text-align: center;
    list-style: none;
    padding: 0;
}
.key-feature{
    display: inline-block;
    margin: 0 64px;
    color: #ffffff;
}
